<div class="container">
  <div class="row clearfix">
    <div class="col-lg-6">
      <h1 class="promo-title">Welcome to The Butcher's Market<br>Meat &amp; Deli</h1>
      <p class="lead large hidden-md-down">Small town service. Big city selection.</p>
      <div class="hidden-lg-up">
        {{store-hours}}
      </div>
      <a href="https://www.facebook.com/thebutchersmarket" class="btn btn-secondary">Like us on Facebook</a>
      <div class="hidden-md-down">
        {{store-hours}}
      </div>
    </div>
    <div class="col-lg-6 hidden-md-down">
      {{iphone-carousel}}
    </div>
    <div class="col-lg-6 hidden-lg-up">
      <ul class="list-inline mobile-app-downloads">
        <li class="list-inline-item">
          <a href="#">
            <img src="images/app-store.png" alt="iOS app store" width="150px" height="45px">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <img src="images/google-play.png" alt="Android app" width="150px" height="45px">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
