<div ...attributes>
  <Button
    @variant="primary"
    @size="small"
    @href="https://my-site-101502-109014.square.site/s/order"
  >
    Order Now
  </Button>

  <span class="ml-2 text-xs text-gray-700 italic">* for pickup</span>
</div>