<div ...attributes>
  <Button
    @variant="primary"
    @size="medium"
    @href={{this.orderOnlineUrl}}
  >
    Order Now
  </Button>

  <span class="ml-2 text-xs text-gray-700 italic">* for pickup</span>
</div>