// Parallax
//

@mixin parallax() {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-device-width: 1024px) {
    // Disable parallax for tablets and phones
    background-attachment: scroll;
  }
}
