{{!-- {{#each (grouped-each eventColumns eventsByMonth) as |row|}}
  <div class="row">
    {{#each row as |event|}}

    {{/each}}
  </div>
{{/each}} --}}


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="natural-products">
      <div class="natural-products-header">
        <h4>November 2016</h4>
      </div>
      <ul class="natural-products-items">
        <li>
          <div class="event-item">
            <h6 class="event-date">November 5th</h6>
            <p>Acoustic Blues &amp; Soul with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Luke Simmons &amp; Kolby Towe</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
        <li>
          <div class="event-item">
            <h6 class="event-date">November 12th</h6>
            <p>Backwoods Funk &amp; Blues with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Remembering January</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
        <li>
          <div class="event-item">
            <h6 class="event-date">November 18th</h6>
            <p>Mosh out with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">The Acacia Strain</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="natural-products">
      <div class="natural-products-header">
        <h4>December 2016</h4>
      </div>
      <ul class="natural-products-items">
        <li>
          <div class="event-item">
            <h6 class="event-date">November 5th</h6>
            <p>Acoustic Blues &amp; Soul with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Luke Simmons &amp; Kolby Towe</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
        <li>
          <div class="event-item">
            <h6 class="event-date">November 12th</h6>
            <p>Backwoods Funk &amp; Blues with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Remembering January</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
        <li>
          <div class="event-item">
            <h6 class="event-date">November 18th</h6>
            <p>Mosh out with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">The Acacia Strain</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="natural-products">
      <div class="natural-products-header">
        <h4>January 2017</h4>
      </div>
      <ul class="natural-products-items">
        <li>
          <div class="event-item">
            <h6 class="event-date">November 5th</h6>
            <p>Acoustic Blues &amp; Soul with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Luke Simmons &amp; Kolby Towe</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
        <li>
          <div class="event-item">
            <h6 class="event-date">November 12th</h6>
            <p>Backwoods Funk &amp; Blues with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">Remembering January</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
        <li>
          <div class="event-item">
            <h6 class="event-date">November 18th</h6>
            <p>Mosh out with:</p>
            <p class="event-title"><a href="https://www.youtube.com/watch?v=6BUD0hzxkwk" target="_blank">The Acacia Strain</a></p>
            <p class="event-time">12:00 pm - 4:00 pm</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
