<div class="mt-10">
  <a href={{order-online-url}} class="block relative">
    {{#if @special.isSoldOut}}
      <div class="absolute px-4 py-2 bg-red-700 text-white text-3xl font-semibold uppercase transform -rotate-12 xl:px-8 xl:text-5xl">
        Sold Out
      </div>
    {{/if}}
    <img
      src={{@special.imageUrl}}
      alt={{@special.imageAltText}}
      class="w-full"
    />
  </a>
</div>