/*
 * Ember Flatpickr
 */

.flatpickr-calendar {
  @apply rounded-lg;
}

.flatpickr-current-month {
  @apply text-base;
}
.flatpickr-current-month span.cur-month, input.cur-year {
  @apply font-semibold;
}

.flatpickr-months {
  @apply pb-3;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: theme('colors.blue.500');
}

.flatpickr-weekday {
  @apply text-xs font-semibold;
  color: rgba(33, 43, 54, 0.5);
}

.flatpickr-day {
  border-radius: 0;
  max-width: 50px;
}
.flatpickr-day.selected,
.flatpickr-day.selected:hover,
.flatpickr-day.today:not(.prevMonthDay):not(.nextMonthDay):hover {
  @apply bg-blue;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flatpickr-day.startRange,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange,
.flatpickr-day.endRange:hover {
  @apply bg-blue;
}
.flatpickr-day:hover {
  background-color: rgba(1, 163, 223, 0.8);
  @apply text-white;
}

.flatpickr-day:not(.prevMonthDay):not(.nextMonthDay) {
  border: .5px solid rgba(225, 223, 219, 0.5);
}
.flatpickr-day:not(.prevMonthDay):not(.nextMonthDay):first-child {
  border-top-width: 1px;
  border-left-width: 1px;
}
.flatpickr-day:not(.prevMonthDay):not(.nextMonthDay):last-child {
  border-bottom-width: 1px;
  border-right-width: 1px;
}
