// Variables
//

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$brand-primary:           #cc1433;
$brand-secondary:         #333;

$bm-gray-dark:            $gray-700;
$bm-gray-light:           #ccc;
$bm-gray-lighter:         #e5e5e5;
$bm-gray-lightest:        #f0f0f0;


// Heights
//

$height-lg:                96px;
$height-md:                72px;
$height-sm:                48px;
$height-xs:                24px;
$height-xxs:               12px;
$navbar-height:            $height-md;


// Paths
//

$images:                   "../images";


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 1025px,
  xl: 1200px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xl: 1140px
);


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Font families & sizes
$font-family-sans-serif:  'Source Sans Pro', Helvetica, Arial, sans-serif;
$headings-font-weight:    900;

$font-size-base: 1rem;
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
//$font-size-base:          16px;
//$font-size-large:         20px;
//$font-size-small:         14px;

$line-height-base: 1.5;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

// $font-size-h1:            40px;
// $font-size-h2:            28px;
// $font-size-h3:            24px;
// $font-size-h4:            20px;
// $font-size-h5:            18px;
// $font-size-h6:            $font-size-small;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-secondary-color:            #fff;
$btn-secondary-bg:               $brand-secondary;
$btn-secondary-border:           $btn-secondary-bg;


// Navbar
//

$navbar-default-color:    #777;
$navbar-default-bg:       #f8f8f8;
