@import "tailwind";
@import "ember-basic-dropdown";
@import "bootstrap-carousel";
@import "pod-styles";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ember-basic-dropdown-content.static {
  position: static;
}

// Disable parallax for tablets and phones
@media screen and (max-device-width: 1024px) {
  .bg-fixed {
    background-attachment: scroll !important;
  }
}
