{{#each (grouped-each this.eventColumns @events) as |row|}}
  <div class="row">
    {{#each row as |event|}}
      <EventListItem @event={{event}} @isAdmin={{@isAdmin}} />
    {{/each}}
  </div>
{{/each}}
