<div class="md:-mx-3 md:flex md:items-center md:flex-wrap" ...attributes>
  {{#each @events as |event|}}
    <div class="md:px-3 md:w-1/2">
      <EventList::EventListItem @event={{event}} @isAdmin={{@isAdmin}} />
    </div>
  {{/each}}
</div>
