// Booking Details
//

.contact-private-parties {
  margin-top: $height-xs;
}

.contact-private-party-header {
  font-weight: bold;
  margin-bottom: 0;
}

.contact-private-party-line {
  margin-bottom: 0;
}
