<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Sign up for our newsletter!</h2>
    </div>
    <div class="col-md-6">
      <form action="//thebutchersmarket.us13.list-manage.com/subscribe/post?u=43b3eba20b61d42e12f523727&amp;id=7615d590ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline newsletter-form" target="_blank" novalidate>
        <div id="mce-responses" class="clear form-group">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div class="form-group">
        	<label for="mce-EMAIL" class="sr-only">Email Address</label>
        	<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
        </div>
        {{!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups --}}
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_43b3eba20b61d42e12f523727_7615d590ae" tabindex="-1" value=""></div>
        <div class="form-group">
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
