# compiled output
/dist/
/tmp/

# dependencies
/node_modules/

# misc
*.local
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log

# broccoli-debug
/DEBUG/

# Mac junk
.DS_Store

# Uploads directory
/public/uploads
