<div class="flex items-center flex-row mb-16">
  <div class="flex-auto border-red border-2" aria-hidden="true"></div>
  <h2 class="flex-shrink text-center mx-6 my-2 mb:my-0 uppercase font-black text-3xl">
    {{@title}}
  </h2>
  <div class="flex-auto border-red border-2" aria-hidden="true"></div>
</div>