<footer class="bg-grey-lighter mt-24 py-4">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="copyright">
        Copyright © 2019 The Butcher's Market
      </div>
      <div>
        <SocialMediaButton @href="https://www.facebook.com/thebutchersmarket" @icon="facebook-f" />
        <SocialMediaButton @href="https://www.instagram.com/thebutchersmarket" @icon="instagram" />
        <SocialMediaButton @href="https://twitter.com/thebutchersmkt" @icon="twitter" />
      </div>
    </div>
  </div>
</footer>
