<footer class="bg-grey-lighter mt-24 py-4">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="text-xs md:text-base">
        Copyright © 2019 The Butcher's Market
      </div>
      <div class="mt-4 md:mt-0">
        <SocialMediaButton @href="https://www.facebook.com/thebutchersmarket" @icon="facebook-f" />
        <SocialMediaButton @href="https://www.instagram.com/thebutchersmarket" @icon="instagram" />
        <SocialMediaButton @href="https://twitter.com/thebutchersmkt" @icon="twitter" />
      </div>
    </div>
  </div>
</footer>
