<footer class="bg-gray-200 mt-24 py-4">
  <div class="container">
    <div class="flex justify-between items-center">
      <div class="copyright">
        Copyright © 2019 The Butcher's Market
      </div>
      <div>
        <MainFooter::SocialMediaButton
          @href="https://www.facebook.com/thebutchersmarket"
          @icon="facebook-f"
        />
        <MainFooter::SocialMediaButton
          @href="https://www.instagram.com/thebutchersmarket"
          @icon="instagram"
          class="ml-2"
        />
        <MainFooter::SocialMediaButton
          @href="https://twitter.com/thebutchersmkt"
          @icon="twitter"
          class="ml-2"
        />
      </div>
    </div>
  </div>
</footer>
