<footer class="bg-gray-200 mt-24 py-4">
  <Container>
    <div class="sm:flex sm:flex-row sm:justify-between sm:items-center">
      <div class="text-center sm:text-left">
        Copyright © {{this.year}}
        <br class="sm:hidden">
        The Butcher's Market
      </div>
      <div class="mt-4 text-center sm:mt-0 sm:text-left">
        <MainFooter::SocialMediaButton
          @href="https://www.facebook.com/thebutchersmarket"
          @icon="facebook-f"
        />
        <MainFooter::SocialMediaButton
          @href="https://www.instagram.com/thebutchersmarket"
          @icon="instagram"
          class="ml-2"
        />
        <MainFooter::SocialMediaButton
          @href="https://twitter.com/thebutchersmkt"
          @icon="twitter"
          class="ml-2"
        />
      </div>
    </div>
  </Container>
</footer>
