// Mobile App
//

& {
  margin-top: 20px;
  @include clearfix();
}

.mobile-app-downloads {
  a {
    float: left;
    display: block;
    margin-top: 10px;
  }

   .mobile-app-download-img {
     width: 100%;
     max-width: 175px;
   }

   .iphone-badge {
     float: left;
     width: 100%;
     max-width: 175px;
   }
}

.iphone-app {
  width: 100%;
  max-width: 175px;
}
