{{! template-lint-disable no-inline-styles}}
<section
  style={{html-safe (concat "background-image: url('../images/" @image "');")}}
  class="bg-black parallax-background bg-center bg-cover bg-no-repeat"
  ...attributes
>
  <Container>
    <div class="my-auto py-12 flex justify-center">
      <div class="text-center sm:text-left sm:flex sm:items-center">
        <h3 class="text-xl uppercase tracking-wide font-black text-white sm:text-3xl">
          Gifts for anyone
        </h3>

        <UiButton
          class="mt-6 sm:mt-0 sm:ml-10"
          @variant="primary"
          @href="https://squareup.com/gift/20D3X4DRPNGY3/order"
        >
          Send E-Gift Card
        </UiButton>
      </div>
    </div>
  </Container>
</section>
{{! template-lint-enable no-inline-styles}}