<div ...attributes>
  <UiButton @variant="primary" @size="medium" @href={{this.orderOnlineUrl}}>
    Order Now
  </UiButton>

  <span class="ml-2 text-xs text-gray-700 italic">* for pickup</span>
</div>