<div class="container">
  {{header-title title=title}}
  <div class="row">
    {{#each featured as |feature|}}
      <div class="col-sm-6 col-md-3 feature-item">
        <h5 class="feature-title">{{feature.title}} {{feature.price}}</h5>
        <ul class="feature-item-list">
          {{#each feature.items as |item|}}
            <li>{{item}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
    <div class="col-sm-6 col-md-3 feature-item">
      <h5 class="feature-title">View All Packages</h5>
      <p class="feature-item-description">We have a meat or grocery packages for every need and budget!</p>
    </div>
  </div>
</div>
