// Header Title
//

.stripe {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 24px -15px 72px -15px;

  span {
    display: inline-block;
    margin: 0 .4em;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      border-top: 3px solid $primary;
      margin-top: .5em;
    }
    &:before { margin-left: -103%; }
    &:after { margin-left: 3%; }
  }
}
