<h3 class="store-hours-title">Cafe Hours</h3>
<p class="store-hours-line">{{storeHours.line1}}</p>
{{#if storeHours.line2}}
  <p class="store-hours-line">{{storeHours.line2}}</p>
{{/if}}
{{#if storeHours.line3}}
  <p class="store-hours-line">{{storeHours.line3}}</p>
{{/if}}
