<h3 class="store-hours-title">Cafe Hours</h3>
<p class="store-hours-line">Mon - Thurs: 9:00am - 5:30pm</p>
<p class="store-hours-line">Fri &amp; Sat: 9:00am - 10:00pm, last call 9:30pm</p>
<p class="store-hours-line">Sun: Closed</p>
