<AdminTitle @title="What would you like to do?" class="mb-4" />

<ul>
  <li>{{#link-to "admin.events"}}Manage Events{{/link-to}}</li>
  <li>{{#link-to "admin.performances"}}Manage Past Performances{{/link-to}}</li>
  <li>{{#link-to "admin.hours"}}Manage Store Hours{{/link-to}}</li>
</ul>
