<Admin::Components::Title @title="What would you like to do?" />

<ul class="mt-4">
  <li>
    {{#link-to "admin.events" class="text-red-700 hover:underline"}}
      Manage Events
    {{/link-to}}
  </li>
  <li class="mt-2">
    {{#link-to "admin.performances" class="text-red-700 hover:underline"}}
      Manage Past Performances
    {{/link-to}}
  </li>
  <li class="mt-2">
    {{#link-to "admin.hours" class="text-red-700 hover:underline"}}
      Manage Store Hours
    {{/link-to}}
  </li>
</ul>
