<Admin::Components::Title @title="Manage" />

<div class="max-w-sm shadow rounded-md overflow-hidden">
  <ul>
    <li>
      <Admin::Index::Components::PageLink @route="admin.deli-items">
        Deli Items
      </Admin::Index::Components::PageLink>
    </li>
    <li class="border-t border-gray-200">
      <Admin::Index::Components::PageLink @route="admin.meat-bundles">
        Meat Bundles
      </Admin::Index::Components::PageLink>
    </li>
    <li class="border-t border-gray-200">
      <Admin::Index::Components::PageLink @route="admin.package-bundles">
        Package Bundles
      </Admin::Index::Components::PageLink>
    </li>
    <li class="border-t border-gray-200">
      <Admin::Index::Components::PageLink @route="admin.performances">
        Performances
      </Admin::Index::Components::PageLink>
    </li>
    <li class="border-t border-gray-200">
      <Admin::Index::Components::PageLink @route="admin.specials">
        Specials
      </Admin::Index::Components::PageLink>
    </li>
    <li class="border-t border-gray-200">
      <Admin::Index::Components::PageLink @route="admin.hours">
        Store Hours
      </Admin::Index::Components::PageLink>
    </li>
  </ul>
</div>
