<Admin::Components::Title @title="What would you like to do?" />

<ul class="mt-4">
  <li>
    <LinkTo @route="admin.events" class="text-red-700 hover:underline">
      Manage Events
    </LinkTo>
  </li>
  <li class="mt-2">
    <LinkTo @route="admin.performances" class="text-red-700 hover:underline">
      Manage Past Performances
    </LinkTo>
  </li>
  <li class="mt-2">
    <LinkTo @route="admin.hours" class="text-red-700 hover:underline">
      Manage Store Hours
    </LinkTo>
  </li>
  <li class="mt-2">
    <LinkTo @route="admin.package-bundles" class="text-red-700 hover:underline">
      Manage Package Bundles
    </LinkTo>
  </li>
</ul>
