<p class="text-2xl uppercase font-black mb-2">
  {{@hourType}} Hours
</p>
<p>{{storeHours.line1}}</p>
{{#if storeHours.line2}}
  <p class="mt-1">{{storeHours.line2}}</p>
{{/if}}
{{#if storeHours.line3}}
  <p class="mt-1">{{storeHours.line3}}</p>
{{/if}}
