<h3 data-test-id="store-hours-title" class="store-hours-title">{{this.type}} Hours</h3>
<p data-test-id="store-hours-line" class="store-hours-line">{{hoursForType.line1}}</p>
{{#if hoursForType.line2}}
  <p data-test-id="store-hours-line" class="store-hours-line">{{hoursForType.line2}}</p>
{{/if}}
{{#if hoursForType.line3}}
  <p data-test-id="store-hours-line" class="store-hours-line">{{hoursForType.line3}}</p>
{{/if}}
