// Modal
//

// Apply the 'in' class styles from Bootstrap by default since
// ember-modal-dialog is always considered visible
.modal {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

// Since the ember-modal-dialog overlay surrounds the modal, we
// can't set the opacity. Instead, lighten the background color.
.modal-backdrop {
  background-color: rgba(#333, .75);
}

.modal-content {
  box-shadow: $modal-content-xs-box-shadow;
}
