// Promo
//

.butcher-promo {
  margin-top: $navbar-height;
  margin-bottom: $height-lg;
  height: 730px;

  .promo-title {
    padding-top: $height-lg;

    @include media-breakpoint-down(md) {
      padding-top: $height-md;
    }
  }

  .promo-title,
  .lead {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  }

  .lead {
    margin-top: $height-xs;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  .btn {
    @include media-breakpoint-down(xs) {
      width: 100%;
      padding-left: 10px;
      padding: 6px 10px;;
    }
  }
}
