// Promo
//

.butcher-promo {
  text-shadow: 1px 1px 1px #000;
  margin-top: $navbar-height;
  margin-bottom: $height-lg;
  background-color: #000;
  height: 750px;

  &.special-hours {
    height: 810px;
  }

  .mobile-app & {
    margin-top: 0;
  }

  @include parallax();
  background-size: cover;

  .promo-title {
    padding-top: $height-md;

    @include media-breakpoint-down(md) {
      padding-top: $height-md;
    }
  }

  .promo-title,
  .lead {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  }

  .lead {
    margin-top: $height-xs;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  .btn {
    @include media-breakpoint-down(xs) {
      width: 100%;
      padding-left: 10px;
      padding: 6px 10px;;
    }
  }
}

.promo-dark {
  background: rgba(0, 0, 0, .3);
  height: 100%;
}

.store-hours {
  color: #fff;
  padding-top: 25px;

  &:first-child {
    @include media-breakpoint-down(md) {
      padding-top: 50px;
    }
  }
}

.store-hours-title {
  margin-bottom: 5px;
}

.store-hours-line {
  margin-bottom: 0;

  &.store-hours-special {
    color: $danger;
    font-weight: bold;
  }
}

.location {
  padding-top: 25px;
  color: #fff;

  @include media-breakpoint-down(md) {
    padding-bottom: 25px;
  }
}

.location-item {
  margin-bottom: 5px;
  text-decoration: none;

  .fa {
    display: inline-block;
    width: 20px;
  }

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}
