// Reviews
//

.butcher-reviews {
  background: url("#{$images}/bg-light-gray.jpg") 50% -100px $bm-gray-lightest;
  padding-top: $height-sm/2;
}

.review-item {
  margin: $height-sm/1.5 0;
  text-align: center;

  .review-text {
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
    margin-top: $height-xs;
  }

  cite {
    color: $bm-gray-dark;
  }
}
