// Promo
//

// Headers style
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  margin-bottom: $height-xs;
}

header p.lead {
  text-align: center;
  margin-top: -$height-xs;
  margin-bottom: $height-md;
}

p.lead {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: $height-xs;

  &.large {
    font-size: 34px;
    line-height: 40px;
  }
}

p {
  margin: 0 0 $height-xxs 0;
}

.color-primary {
  color: $primary;

  &:hover {
    color: lighten($primary, 5%);
  }
}

.color-secondary {
  color: $secondary;

  &:hover {
    color: lighten($secondary, 7%);
  }
}
