// Admin
//

.admin-pages {
  padding-top: $navbar-height + $height-lg;
}

.admin-page-title {
  margin-bottom: $height-xs;
}

.admin-page-actions {
  margin-bottom: $height-xs;
}

.admin-item-list {
  margin: 0;
  max-width: 500px;
}

.admin-item-options {
  margin-top: 10px;
}

.required {
  color: $danger;
}

.form-info {
  margin-bottom: $height-xs;
}
