// Admin
//

.admin-pages {
  padding-top: $navbar-height + $height-lg;

  .btn {
    padding: 2px 6px;
    text-transform: none;
    border: solid 1px #ccc;
    font-size: 1rem;
    @include button-variant($gray-dark, #fff, #ccc);
  }
}

.admin-page-title {
  margin-bottom: $height-xs;
}

.admin-page-actions {
  margin-bottom: $height-xs;
}

.admin-item-list {
  margin: 0;
  max-width: 500px;
}

.admin-item-options {
  margin-top: 10px;
}

.required {
  color: $brand-danger;
}

.form-info {
  margin-bottom: $height-xs;
}
