// Events
//

.butcher-promo-cafe {
  background-image: url("#{$images}/promo-cafe.jpg");
  margin-bottom: 125px;

  @include media-breakpoint-down(md) {
    height: 585px;
    margin-bottom: $height-md;
  }
}

.events {
  .natural-products {
    margin-top: 0;
    margin-bottom: $height-sm;
  }
}

.event-month-title {
  margin-bottom: $height-xs;
  color: $brand-primary;
}

.event-item {
  p {
    margin: 0;
    padding: 0;
  }
}

.event-title {
  color: $brand-primary;
  font-size: $font-size-base;
  font-weight: bold;

  a {
    text-decoration: underline;
  }
}

.event-date {
  margin-bottom: 10px;
}
