// Index
//

.butcher-promo-index {
  background-image: url("#{$images}/promo-index.jpg");
  margin-bottom: 135px;

  @include media-breakpoint-down(md) {
    margin-bottom: 100px;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: $height-md;
  }

  .newsletter {
    background: url("#{$images}/promo-index.jpg") 50% 0;
  }
}

.deli-platters-col {
  text-align: center;
}
