// Index
//

.butcher-promo-index {
  background: #000 url("#{$images}/promo-index.jpg") 50% 0 no-repeat;
  margin-bottom: 135px;

  @include media-breakpoint-down(md) {
    height: 585px;
    margin-bottom: $height-md;
  }
}

.mobile-app-downloads {
  margin: 10px auto 0;

  li {
    margin-bottom: 10px;
  }
}

.deli-platters-col {
  text-align: center;
}
