// Meat
//

.butcher-promo-meat {
  background: #000 url("#{$images}/promo-meat.jpg") 50% 0 no-repeat;
  height: inherit;

  .natural-products {
    border: none;
    color: #fff;
    margin-top: $height-sm + 70px;
    margin-bottom: 90px;

    @include media-breakpoint-down(md) {
      margin-top: $height-sm;
      margin-bottom: $height-sm;
    }

    .natural-products-header {
      background: #000;
      color: #a16a3c;
      margin-bottom: 4px;
    }

    .natural-products-items {
      li {
        background: rgba(255, 255, 255, .3);
        border-top: none;
        margin-bottom: 4px;
      }
    }

    &.natural-products-top {
      .natural-products-header {
        background: #000;
        color: #a16a3c;
      }
    }
  }
}
