{{#promo-section class="butcher-promo-meat"}}
  <h1 class="promo-title">Fresh Cut Everything!</h1>
  <p class="lead large">To offer a higher quality and more constistent product we hand cut all of our meats in-house and stock only Certified Angus Beef Brand!</p>
{{/promo-section}}

<section>
  <div class="container">
    {{header-title title="Bundle Packs"}}

    {{#each (grouped-each bundleColumns model.bundles) as |row|}}
      <div class="row">
        {{#each row as |bundle|}}
        <div class="col-sm-6 col-md-4 feature-item">
          {{bundle-list-item product=bundle}}
        </div>
        {{/each}}
      </div>
    {{/each}}

    {{header-title title="More"}}
    <a href="docs/bmpackages.pdf" class="btn btn-secondary">View Printable Flyer</a>
  </div>
</section>
