<a
  href={{@href}}
  class="inline-block h-8 w-8 text-center text-xl text-black border border-gray-900 rounded hover:bg-gray-900 hover:text-white"
  ...attributes
>
  {{fa-icon @icon prefix="fab"}}
</a>