<div class="location-item">
  {{fa-icon "map-marker"}}
  <a
    href="http://maps.google.com/?q=3619 Cleveland Highway, Dalton, GA"
    target="_blank"
    rel="noopener"
  >
    3619 Cleveland Highway, Dalton, GA
  </a>
</div>
<div class="location-item">
  {{fa-icon "phone"}}
  (706) 279-9277
</div>
