<div>
  Copyright © 2018 The Butcher's Market
</div>

<div>
  {{#social-media-button href="https://www.facebook.com/thebutchersmarket"}}
    {{fa-icon "facebook"}}
  {{/social-media-button}}

  {{#social-media-button href="https://www.instagram.com/thebutchersmarket"}}
    {{fa-icon "instagram"}}
  {{/social-media-button}}

  {{#social-media-button href="https://twitter.com/thebutchersmkt"}}
    {{fa-icon "twitter"}}
  {{/social-media-button}}
</div>
