<form class="m-0" {{on "submit" this.submit}} ...attributes>
  {{yield
    (hash
      group=(component "admin/admin-form/group" readOnly=@readonly)
      label=(component "admin/admin-form/label")
      submit=(component
        "ui-button"
        data-test-id="submit-btn"
        isRunning=this.submitTask.isRunning
        type="submit"
        variant="primary"
      )
    )
  }}
</form>