<a
  href={{@href}}
  class="no-underline inline-block h-8 w-8 pt-1 text-center text-xl text-black border rounded border-grey-darkest hover:bg-grey-darkest hover:text-white"
>
  {{fa-icon @icon prefix="fab"}}
</a>