<div>
  <div class="pt-12 flex flex-col items-center">
    <img src="images/bmmenu1.png" alt="Menu Page 1">
    <img src="images/bmmenu2.png" alt="Menu Page 2">
    <img src="images/bmmenu3.png" alt="Menu Page 3">
  </div>
</div>