<div class="container">
  {{header-title title="Customer Reviews"}}
  <div data-width="100%" data-height="350" data-loop="true" data-autoplay="4000" class="fotorama">
    {{#each reviews as |review|}}
      {{reviews-list-item review=review}}
    {{/each}}
  </div>
</div>
