{{! template-lint-disable no-inline-styles}}
<section
  style={{concat "background-image: url('../images/" @image "'); height: " this.height ";"}}
  class="bg-fixed bg-center bg-cover bg-no-repeat"
>
  <div class="{{if this.darken "bg-overlay-dark" "bg-overlay"}} h-full text-white text-shadow">
    <div class="container mx-auto">
      {{yield}}
    </div>
  </div>
</section>
{{! template-lint-enable no-inline-styles}}
