{{! template-lint-disable no-inline-styles}}
<section
  style={{html-safe (concat "background-image: url('../images/" @image "');")}}
  class="bg-black parallax-background bg-center bg-cover bg-no-repeat"
>
  <div class="py-16 text-white text-shadow">
    {{yield
      (hash title=(component "promo-section/title") subtitle=(component "promo-section/subtitle"))
    }}
  </div>
</section>
{{! template-lint-enable no-inline-styles}}