<div class="pt-16 pb-8 bg-gray-200 text-lg">
  <Container>
    <div class="max-w-3xl">
      <p class="font-semibold">
        We are open and will remain open with no plans of closing or altering the hours of the
        market or cafe (which is currently take-out only).
      </p>
      <p class="mt-2">
        We are currently fully stocked and are receiving multiple daily deliveries to restock.
      </p>
      <p class="mt-2">
        Until further notice, the meat market will remain open until 7:00 pm daily for the
        convenience of customers that have been having trouble getting here before we normally
        close.
      </p>
    </div>
  </Container>
</div>
