<section ...attributes>
  <Container>
    <div class="flex flex-col sm:-mx-4 sm:flex-row">
      <div class="sm:px-4 sm:w-1/2">
        <ContactSection::ContactDetails />
      </div>
      <div class="mt-10 sm:mt-0 sm:px-4 sm:w-1/2">
        <FeedbackForm />
      </div>
    </div>
  </Container>
</section>
