<h5 class="modal-title">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@title}}
  {{/if}}
</h5>
<button type="button" class="close" aria-label="Close" {{action "close"}}>
  <span aria-hidden="true">&times;</span>
</button>
