<div class="container">
  <div class="navbar-brand">
    {{#link-to 'application'}}
      <img src="images/butchers-market-logo.png" alt="The Butcher's Market logo">
    {{/link-to}}
    {{#link-to 'events' (query-params events=false)}}
      <img src="images/blues-street-logo.png" width="100px" height="100px" alt="Blues Street Cafe logo">
    {{/link-to}}
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation-items" aria-controls="main-navigation-items" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation-items">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {{#link-to "meat" class="nav-link"}}
          Meat
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "deli" class="nav-link"}}
          Deli
        {{/link-to}}
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Dining
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="docs/bmmenu.pdf">View Menu</a>
          {{#link-to "events" (query-params events=false) class="dropdown-item"}}
            Blues Street Cafe
          {{/link-to}}
        </div>
      </li>
      <li class="nav-item">
        {{#link-to "events" (query-params events=true) class="nav-link"}}
          Events
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "contact" (query-params events=isEventsPage) class="nav-link"}}
          {{contactText}}
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
