<PromoSection @image="promo-deli.jpg" as |Promo|>
  <Container>
    <div class="text-center lg:w-3/4 lg:text-left">
      <Promo.title>
        Fresh Made Everything!
      </Promo.title>
      <Promo.subtitle>
        Everything in our deli is made in-house from scratch to achieve a quality and freshness
        like no other store can provide.
      </Promo.subtitle>
    </div>

    <div class="mt-16 md:mt-24">
      <img class="w-40 mx-auto lg:mx-0" src="images/serving-boars-head.png" alt="Boars Head logo">
    </div>
  </Container>
</PromoSection>

<section>
  <HeaderTitle @title="Everyday Deli Items" />

  <Container>
    <div class="flex flex-wrap -mx-4">
      {{#each (sort-by "title" this.model) as |item|}}
        <div class="mt-10 px-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
          <img
            class="w-full shadow-md"
            src="{{item.imageUrl}}"
            alt="Image of {{item.title}}"
          >
          <h4 class="mt-2 text-xl font-bold text-center text-gray-900">{{item.title}}</h4>
        </div>
      {{/each}}
    </div>
  </Container>
</section>

<section>
  <HeaderTitle @title="Party Platters" />

  <Container>
    <div class="flex flex-wrap -mx-4">
      <div class="mt-10 px-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
        <img
          class="w-full shadow-md"
          src="images/sandwich-platter.jpg"
          alt="Image of Sandwich Platters"
        >
        <h4 class="mt-2 text-xl font-bold text-center text-gray-900">Sandwich Platters</h4>
      </div>
      <div class="mt-10 px-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
        <img
          class="w-full shadow-md"
          src="images/meat-cheese-platter.jpg"
          alt="Image of Meat &amp; Cheese Platters"
        >
        <h4 class="mt-2 text-xl font-bold text-center text-gray-900">Meat &amp; Cheese Platters</h4>
      </div>
      <div class="mt-10 px-4 text-center w-full lg:w-1/2 lg:text-left">
        <Button @href="docs/bmpartyplatters.pdf">
          View All Platters
        </Button>
      </div>
    </div>
  </Container>
</section>
