{{!
  TODO: Adding template lint ignore due to this mainly being copied from `ember-modal-dialog`.
}}
{{! template-lint-disable no-curly-component-invocation }}
{{! template-lint-disable no-implicit-this }}
{{#ember-wormhole to=destinationElementId}}
  <div class={{this.wrapperClasses}} data-test-id={{this.data-test-id}} ...attributes>
    <div class={{this.overlayClasses}} tabindex="-1" data-emd-overlay>
      {{#ember-modal-dialog-positioned-container
        class=this.containerClasses
        targetAttachment=this.targetAttachment
      }}
        <div class="modal-dialog">
          <div class="modal-content">
            {{yield
              (hash
                header=(component "modal-dialog/header")
                body=(component "modal-dialog/body")
                footer=(component "modal-dialog/footer")
              )
            }}
          </div>
        </div>
      {{/ember-modal-dialog-positioned-container}}
    </div>
  </div>
{{/ember-wormhole}}