<div class="iphone-carousel">
  <div class="iphone-gallery-wrapper">
    {{image-carousel photos=@photos}}
  </div>
  <div class="iphone">
    <img src="images/iPhone-badge.png" class="iphone-badge" alt="$5 off after downloading our app; search the butcher's market on google play and apple app store">
    <img src="images/iPhone_bg2.png" class="h-auto" alt="iPhone gallery background">
  </div>
</div>
