<div class="iphone-gallery-wrapper">
  <div data-auto="false" data-loop="true" data-autoplay="4000" data-nav="false" class="fotorama">
    <img src="images/screen1.jpg" alt="Screen shot 1">
    <img src="images/screen2.jpg" alt="Screen shot 2">
    <img src="images/screen3.jpg" alt="Screen shot 3">
  </div>
</div>
<div class="iphone">
  <img src="images/iPhone_bg2.png" alt="iPhone gallery background" class="img-fluid">
</div>
