<div class="iphone-gallery-wrapper">
  <div class="carousel slide">
    <div class="carousel-inner">
      {{yield (component "iphone-carousel-item")}}
    </div>
  </div>
</div>
<div class="iphone">
  <img src="images/iPhone-badge.png" class="iphone-badge" alt="$5 off after downloading our app; search the butcher's market on google play and apple app store">
  <img src="images/iPhone_bg2.png" class="img-fluid" alt="iPhone gallery background">
</div>
