<header class="bg-white fixed z-40 top-0 inset-x-0">
  <Container @isMainNav={{true}}>
    <div class="absolute pt-2 z-40 flex">
      {{#link-to "application"}}
        <img class="w-32" src="images/butchers-market-logo.png" alt="The Butcher's Market logo">
      {{/link-to}}
    </div>

    {{#if this.isMobile}}
      <div class="flex justify-end lg:hidden">
        <button
          type="button"
          class="text-gray-600 text-2xl my-5 border px-3 pt-2 pb-1 rounded focus:outline-none focus:shadow-outline"
          aria-controls="main-navigation-items"
          aria-expanded="false"
          aria-label="Toggle navigation"
          {{action this.toggleNavigation}}
        >
          <FaIcon @icon="bars" />
        </button>
      </div>

      <AnimatedContainer class="overflow-hidden">
        {{#animated-if this.showNavigation use=this.transition duration=300}}
          <nav class="bg-white mt-8" id="main-navigation-items">
            <MainNav::MainNavItems @itemClicked={{action this.toggleNavigation}} />
          </nav>
        {{/animated-if}}
      </AnimatedContainer>
    {{else}}
      <nav class="flex justify-end" id="main-navigation-items">
        <MainNav::MainNavItems />
      </nav>
    {{/if}}
  </Container>
</header>