<header class="bg-white">
  <div class="container mx-auto">
    <div class="absolute pt-2 z-50">
      {{#link-to "application" class="no-underline"}}
        <img src="images/butchers-market-logo.png" alt="The Butcher's Market logo">
      {{/link-to}}
      {{#link-to "events" (query-params events=false class="no-underline")}}
        <img
          src="images/blues-street-logo.png"
          width="100px"
          height="100px"
          alt="Blues Street Cafe logo"
        >
      {{/link-to}}
    </div>

    <div class="flex justify-end lg:hidden">
      <button
        type="button"
        class="text-grey-dark text-2xl my-5 border px-3 pt-2 pb-1 rounded"
        aria-controls="main-navigation-items"
        aria-expanded="false"
        aria-label="Toggle navigation"
        {{action "toggleNavigation"}}
      >
        {{fa-icon "bars"}}
      </button>
    </div>

    {{#liquid-if showNavigation}}
      <nav class="lg:hidden" id="main-navigation-items">
        <MainNavItems @itemClicked={{action "toggleNavigation"}} />
      </nav>
    {{/liquid-if}}

    <nav class="hidden lg:flex justify-end" id="main-navigation-items">
      <MainNavItems />
    </nav>
  </div>
</header>