<header class="bg-white fixed z-40 top-0 inset-x-0">
  <MainNav::Container>
    <div class="absolute pt-2 z-40 flex">
      <LinkTo @route="application">
        <img class="w-32 h-auto" src="images/butchers-market-logo.svg" alt="The Butcher's Market" />
      </LinkTo>
    </div>

    {{#if this.isMobile}}
      <div class="flex items-center justify-end h-20 lg:hidden">
        <button
          type="button"
          class="flex items-center justify-center h-12 px-3 text-gray-600 text-2xl border rounded focus:outline-none focus:ring"
          aria-controls="main-navigation-items"
          aria-expanded="false"
          aria-label="Toggle navigation"
          {{on "click" this.toggleNavigation}}
        >
          <FaIcon @icon="bars" />
        </button>
      </div>

      <AnimatedContainer class="overflow-hidden">
        {{#animated-if this.showNavigation use=this.transition duration=300}}
          <nav class="mt-8" id="main-navigation-items" aria-label="mobile site navigation">
            <MainNav::MainNavItems @itemClicked={{this.toggleNavigation}} />
          </nav>
        {{/animated-if}}
      </AnimatedContainer>
    {{else}}
      <nav class="flex justify-end h-20" id="main-navigation-items" aria-label="site navigation">
        <MainNav::MainNavItems />
      </nav>
    {{/if}}
  </MainNav::Container>
</header>