<div class="row">
  <div class="col-6 offset-md-2 col-md-4">
    <img src="images/iPhone-small.png" class="iphone-app" alt="Mobile app screenshot">
  </div>
  <div class="col-6 col-md-4">
    <div class="mobile-app-downloads">
      <img
        src="images/iPhone-badge.png"
        class="iphone-badge"
        alt="$5 off after downloading our app; search the butcher's market on google play and apple app store"
      >
      <a href="https://itunes.apple.com/us/app/the-butchers-market/id1134010292?mt=8">
        <img src="images/app-store.png" class="mobile-app-download-img" alt="iOS app store">
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.totalloyalty.butchersmark203109&hl=en">
        <img src="images/google-play.png" class="mobile-app-download-img" alt="Android app">
      </a>
    </div>
  </div>
</div>
