<MobileOrderBanner />

{{! We need 1px of padding so that the header margin takes over since we have no promo image. }}
<div class="pt-px"></div>

{{#if this.model.holidayItems.length}}
  <section>
    <HeaderTitle @title="Holiday Grab & Go Items" />

    <Container>
      <GrabAndGoList @items={{this.model.holidayItems}} />
    </Container>
  </section>
{{/if}}

<section>
  <HeaderTitle @title="Today's Grab & Go Items" />

  <Container>
    <div class="mt-10 max-w-3xl mx-auto">
      <p class="text-center text-lg sm:text-2xl">
        Here are today's grab &amp; go items.
        {{#if this.lastUpdatedOn}}
          Last updated on
          <time datetime={{this.lastUpdatedOn}}>{{this.formattedDate}}</time>.
        {{/if}}
      </p>
    </div>

    <GrabAndGoList @items={{this.model.regularItems}} />
  </Container>
</section>