<OrderBanner />

{{! We need 1px of padding so that the header margin takes over since we have no promo image. }}
<section class="pt-px">
  <HeaderTitle @title="Today's Grab & Go Items" />

  <Container>
    <div class="mt-10 max-w-3xl mx-auto">
      <p class="text-center text-lg sm:text-2xl">
        Here are today's grab &amp; go items.
      </p>
    </div>

    <GrabAndGoList @items={{this.todaysItems}} />
  </Container>
</section>

<section>
  <HeaderTitle @title="Common Rotating Grab & Go Items" />

  <Container>
    <div class="mt-10 max-w-3xl mx-auto">
      <p class="text-center text-lg sm:text-2xl">
        We constantly rotate our grab &amp; go items. Here are some of our other common items that
        are
        <span class="font-semibold">not currently available</span>.
      </p>
    </div>

    <GrabAndGoList @items={{this.commonItems}} />
  </Container>
</section>