<h3 class="color-primary">Contact Us</h3>
<p>We welcome any feedback or questions you may have big or small!</p>
<p><b>Note:</b> This form is not intended for placing orders or for inquiries needing immediate response. Your information is not shared with any third party and will only be used for our communications with you. If you need immediate assistance, call us at (706) 279-9277.</p>
