<ol class="list-unstyled countdown-wrapper d-flex justify-content-center">
  <li class="countdown-group">
    <p class="countdown-value">{{days}}</p>
    <p class="countdown-metric">Days</p>
  </li>
  <li class="countdown-group">
    <p class="countdown-value">{{hours}}</p>
    <p class="countdown-metric">Hours</p>
  </li>
  <li class="countdown-group">
    <p class="countdown-value">{{minutes}}</p>
    <p class="countdown-metric">Minutes</p>
  </li>
  <li class="countdown-group">
    <p class="countdown-value">{{seconds}}</p>
    <p class="countdown-metric">Seconds</p>
  </li>
</ol>
