name: Continuous Integration

on:
  # - If you create a branch and make a push, CI will not run.
  # - If you create a PR for that branch (draft or open), CI will run. GitHub Actions shows the run
  #   type to be `pull_request`.
  # - Marking a draft PR as ready (open) will not trigger CI again.
  # - Any additional pushes that you make to the PR will trigger CI. (type: `pull_request`)
  # - If you merge the PR into `master`, CI will run once more. (type: `push`)
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
    inputs:
      git-ref:
        description: Git Ref (Optional)
        required: false

# Will kill the workflow runs of commits that are not the current head commit of a PR. `head_ref` is
# only set for PRs source, which is why we fall back to `ref` (so push workflows will run one job
# for each branch for the most recent commit).
concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: 'Tests'
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node, pnpm, install dependencies
        uses: wyvox/action-setup-pnpm@v3

      - name: Lint
        run: pnpm lint

      - name: Run Tests
        run: pnpm test:ember
